<!DOCTYPE html>
{% load static %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Attendance</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
    integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Medium Style Editor -->
    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css"
    type="text/css" media="screen" charset="utf-8">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'attendance.css' %}">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@900&family=PT+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Work+Sans:400,700" rel="stylesheet">

  </head>
  <body class='mainbodyclass loader'>
    <nav class="navbar navbar-expand-lg bg-light techfont">
      <div class="container center-column">
        <ul class="nav navbar-nav">

            <li><a class='navbar-brand bigbrand'href="{% url 'index' %}">Attendance web app</a></li>
            {%if user.is_authenticated %}
            <li><a class='navbar-brand bigbrand'href="{% url 'logout' %}">LOGOUT</a></li>
            <li><a class='navbar-brand bigbrand'href="{% url 'batch_list' %}">BATCHES</a></li>
            <li><a class='navbar-brand bigbrand'href="{% url 'create_batch' %}">ADD BATCH</a></li>
            {% else %}
            <li><a class='navbar-brand bigbrand'href="{% url 'login' %}">LOGIN</a></li>
            <li><a class='navbar-brand bigbrand'href="{% url 'register' %}">REGISTER</a></li>
            {% endif %}

       </ul>
      </div>
    </nav>
    <!-- CONTENT BLOCK -->
          <div class="content container center-column">
              <div class="row">
                  <div class="col-md-8">
                    <div class="blog_posts">
                      {% block content %}
                      {% endblock %}

                    </div>
                  </div>
              </div>
          </div>

  </body>
</html>
